* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

.text-link {
  text-decoration: none;
}

.positive-percentage {
  color: green;
  font-weight: 600;
}

.negative-percentage {
  color: red;
  font-weight: 600;
}
