* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

.text-link {
  text-decoration: none;
}

.positive-percentage {
  color: green;
  font-weight: 600;
}

.negative-percentage {
  color: red;
  font-weight: 600;
}

.nav-collapse {
  position: absolute;
  top: 55px;
  right: 0;
  left: 0;
  min-height: 100%;
  padding-top: 80px;
  border-radius: 15px;
  border-bottom: 1px solid black;
}
